/* styles.css */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: max-content;
    height: max-content;
}


nav {
    display: flex;
    flex-wrap: wrap;
    background-color: #333;
}

nav a {
    color: white;
    padding: 14px 20px;
    text-align: center;
    text-decoration: none;
    flex: 1;
}

nav a:hover {
    background-color: #ddd;
    color: black;
}

.content {
    padding: 20px;
    margin: 20px;
    background-color: #f4f4f4;
}
@media (max-width: 768px){
    nav {
        flex-direction: column;
    }
}

@media (min-width: 769px) {
    .content {
        width: 80%;
        margin: 20px auto;
    }
}

h1, h2 {
    text-align: center;
}

.form-wrapper {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.form-container {
    width: 48%; /* Ensure they fit within the flex container */
    margin: 20px;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form {
    display: flex;
    flex-direction: column;
}

input[type="number"],
input[type="text"] {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#income {
    padding: 10px;
    background-color: #28a745;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#income:hover {
    background-color: #218838;
}

#expense {
    padding: 10px;
    background-color: #e73838;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#expense:hover {
    background-color: #fb1111;
}

.balance {
    margin: 20px 0;
    text-align: center;
}

.transaction-list {
    margin-top: 20px;
}

.transaction-list ul {
    list-style-type: none;
    padding: 0;
}

.transaction-list li {
    background-color: #f8f9fa;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 10px;
}
